a:link
{
    text-decoration: none;
}

.topictitle
{
    color: #3b2989;
    text-transform: inherit;
    border: transparent 1px solid;
    border-bottom-color: #3b2989;
    border-bottom-width: 0.15rem;
}